h1 { 
	color: pink;
}
html, body { 
	height: 90%; 
}

#mapid { 
	height: 90%; 
}

.leaflet-left {
      width: 100%;
    }	

[data-weather="clear-day"] {
	background-color: blue;
}
[data-weather="cloudy"] {
	background-image: url('../images/cloudy.png');
}
// position : 
-absolute : top left corner
-Static : default : in the top left corner
-Relative : mooves thing to where they should relatively be
